<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/financial">Financial Wellbeing</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Asos</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">Asos</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>Asos 20%</h3>
      <p class="text-muted">Category <span class="badge badge-pill badge-secondary">Shopping & Retail</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to purchase giftcard?</h5>


      <div class="row">
                <div class="col-12">
                </div>
                <div class="col">
                  <div class="form-group rounded bg-white p-2">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="service-radio-freelance-1" name="service-radio-1" class="custom-control-input">
                      <label class="custom-control-label" for="service-radio-freelance-1">Purchase with cash</label>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group rounded bg-white p-2">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="service-radio-agency-1" name="service-radio-1" class="custom-control-input">
                      <label class="custom-control-label" for="service-radio-agency-1">Purchase with credit</label>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group rounded bg-white p-2">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="service-radio-agency-1" name="service-radio-1" class="custom-control-input">
                      <label class="custom-control-label" for="service-radio-agency-1">Purchase with both</label>
                    </div>
                  </div>
                </div>
              </div>
      <a href="#" class="btn btn-primary">Purchase Gift Card</a>
    </div>
  </div>
</div>
