<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/perks">Your Perks</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Beer Fridays</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">Beer Fridays</h1>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>Beer Fridays</h3>
      <p class="text-muted">Added by Your Company for <span class="badge badge-pill badge-secondary">Wellbeing</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to get access?</h5>

      <p>Just come to the Happiness Lab at 5pm every Friday!</p>
        
    </div>
  </div>
</div>
