<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/perks">Your Perks</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Free Coffee</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">Free Coffee</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>Free Coffee</h3>
      <p class="text-muted">Added by Your Manager for <span class="badge badge-pill badge-secondary">Wellbeing</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to get access?</h5>

      <p><i><mark>Criteria: Redeem Code</mark></i></p>
        <ol>
              <li>Redeem Code</li>
              <li>Show your code at your nearest Cafe Nero</li>
            </ol>
      <button class="btn btn-primary" disabled>Available again in 4 days</button>
      <a href="#" class="btn btn-primary">Gift To Peer</a>
    </div>
  </div>
</div>
