<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/perks">Your Perks</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Dental</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">Dental</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>Free Access To Dental</h3>
      <p class="text-muted">Added by Your Company for <span class="badge badge-pill badge-secondary">Physial Wellbeing</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to get access?</h5>

      <p><i><mark>Criteria: Free Sign Up</mark></i></p>
        <ol>
              <li>Enter your details</li>
              <li>Download Medical App</li>
              <li>Use at your leisure</li>
            </ol>
      <a href="#" class="btn btn-primary">Free Sign Up</a>
    </div>
  </div>
</div>
