<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Lifestyle & Wellbeing</h1>
      <p class="lead mb-0">Hundreds Of Discounts To help your money go a little futher.</p>
    </div>
  </div>
</div>

<section class="pt-0">
  <div class="container">
    <div class="row mb-4">
      <div class="col col-md-auto">
        <ul data-isotope-filters data-isotope-id="projects" class="nav mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link btn active" data-filter="*">See All</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link btn" data-filter="Branding">Discount Codes</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link btn" data-filter="Digital">Discounted Gift Cards</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link btn" data-filter="Art Direction">Earn Back Credit</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" data-isotope-collection data-isotope-id="projects">
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/adidas">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h4 class="mb-0">Adidas</h4>
          <div class="text-small text-muted">5% Off</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/apple">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h4 class="mb-0">Apple</h4>
          <div class="text-small text-muted">20%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/bill">
          <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
          <h4 class="mb-0">Bill's Restaurant</h4>
          <div class="text-small text-muted">Link Your Card</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/franco">
          <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
          <h4 class="mb-0">Franco Manca</h4>
          <div class="text-small text-muted">Link Your Card</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/netflix2">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h4 class="mb-0">Neflix</h4>
          <div class="text-small text-muted">10%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/tesco">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Tesco</h4>
          <div class="text-small text-muted">20%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/asos2">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Asos</h4>
          <div class="text-small text-muted">20%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="#">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Netflix</h4>
          <div class="text-small text-muted">10%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/spotify">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Spotify</h4>
          <div class="text-small text-muted">20%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="#">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Youtube</h4>
          <div class="text-small text-muted">20%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/john">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">John Lewis</h4>
          <div class="text-small text-muted">10%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/virgin">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Virgin Media</h4>
          <div class="text-small text-muted">5%</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/nike">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Nike</h4>
          <div class="text-small text-muted">10%</div>
        </a>
      </div>
    </div>
  </div>
</section>