<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/financial">Financial Wellbeing</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Franco Manca</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">Franco Manca</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19875.56172218275!2d-0.2829195110558246!3d51.48669694641805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760e706a4efbb9%3A0xc82f1958a39436ed!2sChiswick%2C+London!5e0!3m2!1sen!2suk!4v1554638831273!5m2!1sen!2suk" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
      <h3>Franco Manca</h3>
      <p class="text-muted">Category <span class="badge badge-pill badge-secondary">Food & Drink</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to use?</h5>

       <ol>
        <li>Link your card</li>
              <li>Go to your nearest Franco Manca</li>
              <li>Spend as you normally would</li>
              <li>Earn back credit</li>
            </ol>


      <a href="#" class="btn btn-primary">Link your card</a>
    </div>
  </div>
</div>
