<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/perks">Your Perks</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">2 Days Holiday</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">2 Day Holiday</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>2 Day Holiday</h3>
      <p class="text-muted">Added by Your Company for <span class="badge badge-pill badge-secondary">Work-Life Balance</span> <span class="badge badge-pill badge-secondary">Not a job a family</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to get access?</h5>

      <p><i><mark>Criteria: Organise with your manager</mark></i></p>
        <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input active" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Mark As Organised</label>
      </div>
    </div>
  </div>
</div>
