<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Company Hub</h1>
      <p class="lead mb-0">Share in your peers successes, give your feedback and help create the culture you want to be part of!</p>
    </div>
  </div>
</div>

<section class="pt-0">
  <div class="container">
    <div class="row mb-4">
      <div class="col col-md-12">
        <ul data-isotope-filters data-isotope-id="projects" class="nav mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link btn active" data-filter="*">Your Teams</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link btn" data-filter="Branding">Your Company</a>
          </li>
        </ul>
        <hr>
      </div>
    </div>



</div>

<section class="narrow">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-8 col-lg-8">
            <div class="pr-lg-4">
              <%= render 'layouts/filtershub' %>
              <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar avatar-lg m-1">
                    <img src="/avatar.png" class="avatar avatar-lg m-1">
                  </span>
            </div>
            <div class="col-md-10">
              <h4>Recognition</h4>
              <p class="text-muted small">Company Value from Paul Schulz · 2 days ago</p>
              <p class="">
                Big big congrats on a couple fronts today. Firstly, thanks all around to the team responsible for getting the HiBoB API integration across the line. It's all ready to go into production their side.  Dates to be confirmed but all happy and integrated well now - looking at next week probably but tbc.
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
        
        </div>
      </div>
            </div>
            <div class="pr-lg-4">
              <div class="card shadow border-0">
                <div class="card-body py-5">
                  <div class="row">
                    <div class="col-md-2">
                      <span class="avatar rounded-circle">
                            <img src="/avatar.png" class="avatar avatar-lg m-1">
                          </span>
                    </div>
                    <div class="col-md-10">
                      <i class="fa fa-thumb-tack mr-3 float-right" aria-hidden="true"></i>
                      <h4>Survey Feedback</h4>
                      <p class="text-muted small">Feedback from Louise · Just Now</p>
                      <p class="">
                        Thanks for filling out the surveys last week. Clearly Slack isn't working for us right now. Ricky is going to be running some workshops this week to understand more.
                      </p>
                        <br>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <span class="float-right">
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

                     </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
                  </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
                </div>
              </div>
            </div>
            

          <div class="pr-lg-4">
              <div class="card shadow border-0">
                <div class="card-body py-5">
                  <div class="row">
                    <div class="col-md-2">
                      <span class="avatar rounded-circle">
                            <img src="/avatar.png" class="avatar avatar-lg m-1">
                          </span>
                    </div>
                    <div class="col-md-10">
                      <i class="fa fa-thumb-tack mr-3 float-right" aria-hidden="true"></i>
                      <h4>Announcement</h4>
                      <p class="text-muted small">Announcement from Louise · Just Now</p>
                      <p class="">
                        Here's a company wide announcement for everyone to read and comment on
                      </p>
                        <br>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <span class="float-right">
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

                     </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
                  </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
                </div>
              </div>
            </div>
            
          </div>

          <div class="col-md-4 col-lg-4 d-none d-md-block">
            <div class="sticky-top">
              <div class="card card-sm card-body shadow-3d">
                <div data-target="#panel-1" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">Have Your Say</span>
                  <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>

                </div>
                <div class="collapse" id="panel-1">
                  <div class="pt-3">
                    <p class="mb-0">
                      <p class="description">Send anonymous feedback, so you can keep improving.</p>
                      <a href="">
                        <button type="button" class="btn btn-primary">Send anonymous feedback</button>
                      </a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="card card-sm card-body shadow-3d">
                <div data-target="#panel-2" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                  <span class="h6 mb-0">Recognise Someone</span>
                  <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>

                </div>
                  <div class="collapse" id="panel-2">
                    <div class="pt-3">
                      <p class="description">Time to make a colleague's day!</p>

                      <ul class="avatars">
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                  </ul>

                  <a href="">
                    <button type="button" class="btn btn-primary mt-4">Recognise Somebody</button>
                  </a>
                    
                  </div>
                </div>
              </div>

              <div class="card card-sm card-body shadow-3d">
                <div data-target="#panel-3" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                  <span class="h6 mb-0">Team Awards</span>
                  <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>

                </div>
                  <div class="collapse" id="panel-3">
                    <div class="pt-3">
                      <p class="description">Time to nominate somebody for the company awards!</p>

                      <ul class="avatars">
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                  </ul>

                  <a href="">
                    <button type="button" class="btn btn-primary mt-4">Nominate Somebody</button>
                  </a>
                    
                  </div>
                </div>
              </div>

              <div class="card card-sm card-body shadow-3d">
                <div data-target="#panel-4" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4">
                  <span class="h6 mb-0">Team Values</span>
                  <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>

                </div>
                  <div class="collapse" id="panel-4">
                    <div class="pt-3">
                      <p class="description">Read about your company values....</p>

                      <ul class="avatars">
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                  </ul>

                  <a href="">
                    <button type="button" class="btn btn-primary mt-4">See values</button>
                  </a>
                    
                  </div>
                </div>
              </div>

              



            
          </div>
        </div>
      </div>
    </section>
