<div class="row pt-5 py-5 text-center justify-content-center align-items-center layer-2">
  <div class="col-xl-8 col-lg-10">
    <h1 class="display-4">Hub</h1>
    <p class="lead mb-0">Connect with your peers, celebrate successes and feel part of your company culture</p>
  </div>
</div>