<div class="row pt-5 py-5 layer-2">
      <div class="container-fluid">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Company Hub</h1>
      <p class="lead mb-0">Here's a description of what this is.</p>
    </div>
  </div>
</div>