<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= render 'layouts/perkname' %>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Netflix Voucher</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">Netflix Voucher</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>Netflix Voucher (3 Months)</h3>
      <p class="text-muted">Added by Your Manager as a reward for <span class="badge badge-pill badge-secondary">Above & Beyond</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to get access?</h5>

      <p><i><mark>Criteria: Download Code</mark></i></p>
        <ol>
              <li>Redeem Code</li>
              <li>Use at Netflix.com</li>
            </ol>
      <a href="#" class="btn btn-primary">Redeem Free Code</a>
    </div>
  </div>
</div>
