<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/perks">Your Perks</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Team Lunch</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">Team Lunch</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>Team Lunch (Value £200)</h3>
      <p class="text-muted">Added by Your Company because we value <span class="badge badge-pill badge-secondary">Peer to peer relationships</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to get access?</h5>

      <p><i><mark>Criteria: Hit KPIs</mark></i></p>
        <ol>
              <li>Hit KPIs this quarter</li>
              <li>Receive Discount Code</li>
            </ol>
      <a href="#" class="btn btn-primary">Prompt Manager</a>
    </div>
  </div>
</div>
