<div class="row pt-5 py-5 text-center justify-content-center align-items-center layer-2">
  <div class="col-xl-8 col-lg-10">
    <h1 class="display-4">Your Perks</h1>
    <p class="lead mb-0">These are the perks your company have carefully curated for you to help improve your entire experience, both in and out of work.</p>
  </div>
</div>