<div class="row pt-5 py-5 text-center justify-content-center align-items-center layer-2">
  <div class="col-xl-8 col-lg-10">
    <h1 class="display-4">Perkbox Marketplace</h1>
    <p class="lead mb-0">See what we have to offer to help improve your experience</p>
  </div>
</div>