<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Gifted Perks</h1>
      <p class="lead mb-0">Here are the perks you've been gifted to show you're valued, to celebrate your successes and embrace what makes your company unique.</p>
    </div>
  </div>
</div>


<div class="row">
      <div class="container">
        <div class="col-xl-12 col-lg-12">
      <h3 class="display-5">Because you're part of Company Name <i class="fa fa-angle-right float-right space"></i> <i class="fa fa-angle-left float-right"></i></h3>
    </div>
    <hr>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/holiday2">
          <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
          <h5 class="mb-0">2 Days Holiday</h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/medical">
          <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
          <h5 class="mb-0">Medical Care</h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/dental">
          <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
          <h5 class="mb-0">Dental Care</h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/beer">
          <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
          <h5 class="mb-0">Beer Friday</h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
  </div>
</div>


<br>

<div class="row">
      <div class="container">
        <div class="col-xl-12 col-lg-12">
      <h3 class="display-5">Because you're part of Team Name</h3>
    </div>
    <hr>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/asos">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h5 class="mb-0">Asos Giftcard</h5>
          <div class="text-small text-muted">Rewarded by your manager <i class="fa fa-trophy" aria-hidden="true"></i></div>
        </a>
      </div>
    <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/yoga">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Yoga App</h5>
          <div class="text-small text-muted">Gifted by your manager</div>
        </a>
      </div>
    <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/peer">
          <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
          <h5 class="mb-0">Team Lunch </h5>
          <div class="text-small text-muted">Incentive from your manager <i class="fa fa-lock" aria-hidden="true"></i></div>
        </a>
      </div>
  </div>
</div>

<br>

<div class="row">
      <div class="container">
        <div class="col-xl-12 col-lg-12">
      <h3 class="display-5">Because you're a Manager</h3>
    </div>
    <hr>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/asos">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h5 class="mb-0">Headspace</h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
  </div>
</div>

<br>



<div class="row">
      <div class="container">
        <div class="col-xl-12 col-lg-12">
      <h3 class="display-5">Just for you </h3>
    </div>
    <hr>
  </div>

</div>


<div class="container">
  <div class="row">
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/netflix">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h5 class="mb-0">Netflix Voucher</h5>
          <div class="text-small text-muted">Rewarded by your manager <i class="fa fa-trophy" aria-hidden="true"></i></div>
        </a>
      </div>
    <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/sanctus">
          <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
          <h5 class="mb-0">Spotify</h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
  </div>
</div>

<br>

<div class="row">
      <div class="container">
        <div class="col-xl-12 col-lg-12">
      <h3 class="display-5">Gifted by Perkbox</h3>
    </div>
    <hr>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/coffee">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0"><strike>Free Coffee</strike> <a href="#" class="m-1 btn-sm btn-primary">Gift To Peer</a></h5>
          <div class="text-small text-muted">Gift available again in 4 days</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/coffee">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Mental Health</h5>
          <div class="text-small text-muted">Gifted by Perkbox</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/coffee">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Councelling Online</h5>
          <div class="text-small text-muted">Gifted by Perkbox</div>
        </a>
      </div>
    
  </div>
</div>


<br>

