<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Exclusive Workplace Perks</h1>
      <p class="lead mb-0">Have a browse of our premium partners and choose the workplace perks that matter most to you.</p>
    </div>
  </div>
</div>

<section class="pt-0">
  <div class="container">
    <div class="row mb-4 justify-content-center align-items-center">
      <div class="col col-md-auto">
        <ul data-isotope-filters data-isotope-id="projects" class="nav mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link btn active" data-filter="*">See All</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link btn" data-filter="Branding">Financial Wellbeing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link btn" data-filter="Digital">Emotional Wellbeing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link btn" data-filter="Art Direction">Physical Wellbeing</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" data-isotope-collection data-isotope-id="projects">
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="#">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h4 class="mb-0"><strike>Debt Management</strike></h4>
          <div class="text-small text-muted">Already company perk</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="#">
          <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
          <h4 class="mb-0"><strike>Medical</strike></h4>
          <div class="text-small text-muted">Already Company Perk</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="#">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h4 class="mb-0">Financial Advice</h4>
          <div class="text-small text-muted">Financial Wellbeing</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="#">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Councelling Online</h4>
          <div class="text-small text-muted">Emotional Wellbeing</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="#">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">EAP</h4>
          <div class="text-small text-muted">Emotional Wellbeing</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="#">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Dental Online</h4>
          <div class="text-small text-muted">Physical Wellbeing</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/head">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Sanctus</h4>
          <div class="text-small text-muted">Emotional Wellbeing</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="#">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Cycle To Work</h4>
          <div class="text-small text-muted">Physical Wellbeing</div>
        </a>
      </div>
    </div>
  </div>
</section>