

<div class="row pt-5 py-5 layer-2">
      <div class="container">

        <div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/marketplace">Perkbox Marketplace</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Selected Workplace Benefits</li>
        </ol>
      </nav>
      <br>
    </div>
  </div>
</div>

  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Exclusive Workplace Benefits</h1>
      <p class="lead mb-0">Making usually hard-to-get workplace benefits accessible for everyone.</p>
    </div>
  </div>
</div>

<section class="pt-0">
  <div class="container">
    <br>
    <%= render 'layouts/filterspremium' %>


    <div class="row" data-isotope-collection data-isotope-id="projects">
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/debt">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h5 class="mb-0"><strike>Debt Management</strike></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/medical">
          <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
          <h5 class="mb-0"><strike>Medical</strike></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/financialadvice">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h5 class="mb-0">Financial Advice</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/councelling">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0"><strike>Councelling Online</strike></h5>
          <div class="text-small text-muted">Gifted by Perkbox</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/eap">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0"><strike>EAP</strike></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/purchases">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0"><strike>Dental Cashplan</strike></h5>
          <div class="text-small text-muted">You purchased a 1 year licence</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/medinsurance">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Private Medical Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/healthcashplan">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Health Cashplan</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/healthinsurance">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Health Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
        <a href="/pages/critical">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Critical Illness Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/mental">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0"><strike>Mental Health</strike></h5>
          <div class="text-small text-muted">Gifted by Perkbox</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
        <a href="/pages/physio">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Physiotherapy</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
    </div>
  </div>
</section>