<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">My Purchases & Codes</h1>
      <p class="lead mb-0">Keep track of everything you've bought and get quick access to your accessed codes</p>
    </div>
  </div>
</div>


<section class="pt-0">
  <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link btn active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">My Purchases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">My Redeemed Codes</a>
      </li>
    </ul>
    <hr>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        <div class="row" data-isotope-collection="" data-isotope-id="projects" style="position: relative; height: 768px;">
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding" style="position: absolute; left: 855px; top: 512px;">
        <a href="">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h5 class="mb-0">Dental Cashplan</h5>
          <div class="text-small text-muted">1 year licence</div>
        </a>
      </div>
      
    </div>
    </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="col col-md-12">
            <br>
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">When</th>
                  <th scope="col">What</th>
                  <th scope="col">Code</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">3 days ago</th>
                  <td>Apple Gift Code 20%</td>
                  <td>1378ht46</td>
                  <td><div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Mark as used</label>
              </div>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-6 col-lg-8">
                  <h2>Notification Preferences</h2>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Notify me when I receive a recogntion
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      Notify me when I receive a gift
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                      Notify me when there are updates in the hub
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                      Notify me when...
                    </label>
                  </div>
                  
                  
                  
                  <br>
                  
                  <a href="#" class="btn btn-primary">Save preferences</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="tab-pane fade" id="pills-interest" role="tabpanel" aria-labelledby="pills-contact-tab">
         <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-12 col-lg-12">
                  <h2>My Interests</h2>
                  <p class="text-muted mt-3">So we can help curate the marketplace to suit your interests</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Music</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Technology</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Fashion</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox3">Travel</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                    <label class="form-check-label" for="inlineCheckbox3">Food & Drink</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                    <label class="form-check-label" for="inlineCheckbox3">Health & lifestyle</label>
                  </div>
                  <br>
                  <br>
                  <h2>My Workplace Drivers</h2>
                  <p class="text-muted">The things that get the best out of you at work</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Work-life Balance</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Teamwork</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Communication</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox3">Manager Relationships</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                    <label class="form-check-label" for="inlineCheckbox3">Strategy & Leadership</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                    <label class="form-check-label" for="inlineCheckbox3">Health & lifestyle</label>
                  </div>
                  <br>
                  
                  
                  <br>
                  
                  <a href="#" class="btn btn-primary">Save interests & drivers</a>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
        <div class="tab-pane fade" id="pills-card" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="row">
          <div class="col col-md-12">
            <div class="row">
              <div class="col col-md-12">
                <div class="card shadow border-0">
                  <div class="card-body py-5">
                  <div class="col-xl-6 col-lg-8">
                      <h2>My cards</h2>
                      <p>Feel free to link your card so you can earn credit back when you spend locally... and to make purchasing from our marketplace a breeze.
                      
                      <br>
                      <br>
                      <a href="#" class="btn btn-primary">Link card</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>