<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-12 col-lg-12">
      <h1 class="display-5">My Recognition</h1>
      <p class="lead mb-0">Celebrate your successes. Keep track of what you've been recognised for and who by.</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow border-0">
        <div class="card-body py-5">
        <div class="col-xl-12 col-lg-12">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">Who By</th>
                  <th scope="col">Company Value</th>
                  <th scope="col">Reward</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">22/3/2019</th>
                  <td>This is what you were recognised for</td>
                  <td>Your Manager</td>
                  <td>Company Value</td>
                  <td>+100 Credits</td>
                </tr>
                 <tr>
                  <th scope="row">20/3/2019</th>
                  <td>This is what you were recognised for</td>
                  <td>Your Colleague</td>
                  <td>Company Value</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">19/3/2019</th>
                  <td>This is what you were recognised for</td>
                  <td>Your Colleague</td>
                  <td>Company Value</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      