<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-8">
      <h1 class="display-5">My Rewards & Recognition</h1>
      <p class="lead mb-0">Celebrate your successes. Keep track of what you've been recognised for and who by.</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">When</th>
                  <th scope="col">Who By</th>
                  <th scope="col">Description</th>
                  <th scope="col">Company Value</th>
                  <th scope="col">Reward</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Just now</th>
                  <td><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> Your Manager</td>
                  <td>Here's a description of what you've been recognised for...</td>
                  <td>Company Value 1</td>
                  <td><a href="/pages/yoga"> 50 Credits</a></td>
                </tr>
                 <tr>
                  <th scope="row">Just now</th>
                  <td><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> Your Colleague</td>
                  <td>Here's a description of what you've been recognised for...</td>
                  <td>Company Value 2</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      