<section class="min-vh-100 bg-primary-3 py-5 o-hidden">
      <div class="container position-relative layer-2">
      
        <div class="row justify-content-center py-6 text-light">
          <div class="col text-center">
            <h1 class="display-3">Perkbox Prototype</h1>
            
          </div>
        </div>
        <div class="row">

          <table class="table table-responsive text-light">
              <thead>
                <tr class="text-light">
                  <th scope="col">Scenario</th>
                  <th scope="col">Link</th>
                  <th scope="col">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Employee 1st Time User</td>
                  <td>Coming soon</td>
                  <td>-</td>
                </tr>

                <tr>
                  <td>Employee Returning User</td>
                  <td><a href="/pages/home" class="btn btn-light">Explore</a></td>
                  <td>-</td>
                </tr>
                 
              </tbody>
            </table>
        
        </div>
      </div>
      <div class="decoration-wrapper d-none d-sm-block">
        <div class="decoration bottom middle-y scale-5">
          

        </div>
        <div class="decoration bottom right scale-5">
          

        </div>
      </div>
    </section>