<section class="min-vh-100 py-5 o-hidden">
      <div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/splash">Perkbox Prototype</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Employee</li>
        </ol>
      </nav>
      <br>
    </div>
  </div>
</div>


        <div class="row justify-content-center py-6">
          <div class="container">
        <h2 class="">Employee</h2>
      
        <div class="row">

          <table class="table table-responsive">
              <thead>
                <tr class="text-light">
                  <th style="width: 20%" scope="col">Role</th>
                  <th style="width: 20%" scope="col">Scenario</th>
                  <th style="width: 20%" scope="col">Product Access</th>
                  <th style="width: 20%" scope="col">Prototype</th>
                  <th style="width: 20%" scope="col">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Employee</strong></td>
                  <td>1st Time User</td>
                  <td>Perks <span class="text-muted">(+ Medical & L&D*)</span>, R&R, Insights</td>
                  <td class="text-small"><a href="/pages/signup1" class="btn btn-primary">View</a></td>
                  <td class="text-small">This prototype shows an indicative onboarding flow. The goal is to capture key information for us to help customise the experience, and set the tone for the product.</td>
                </tr>
                <tr>
                  <td><strong>Employee</strong></td>
                  <td>Returning user</td>
                  <td>Perks <span class="text-muted">(+ Medical & L&D*)</span>, R&R, Insights</td>
                  <td><a href="/pages/home" class="btn btn-primary">View</a></td>
                  <td class="text-small">A prototype to show how the whole experience could work together with all our products</td>
                </tr>
                <tr>
                  <td><strong>Employee</strong></td>
                  <td>Returning User</td>
                  <td>Only Perks <span class="text-muted">(+ Medical & L&D*)</span></td>
                  <td><a href="/pages/homeperks" class="btn btn-primary">View</a></td>
                  <td class="text-small">Evolving perks from a passive library of discounts... to enabling companies to curate perks that are valuable for employees and will help them get the best out of work and life. Or to allow people to curate their own perks by uploading credit. Perks need to be unique, tailored and empower individuals. For now medical conceptually has been wrapped into this under Health & Support. Same is true for L&D</td>
                </tr>
              </tbody>
            </table>
        
        </div>
      </div>
      <div class="decoration-wrapper d-none d-sm-block">
        <div class="decoration bottom middle-y scale-5">
          

        </div>
        <div class="decoration bottom right scale-5">
          

        </div>
      </div>
    </section>