<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/financial">Financial Wellbeing</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Virgin Media</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">Virgin</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>Virgin Media (5% Off)</h3>
      <p class="text-muted">Category <span class="badge badge-pill badge-secondary">Entertianment & Lifestyle</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to get access?</h5>

      <p><i><mark>Criteria: Redeem Discount Code.</mark></i></p>
        <ol>
              <li>Redeem Discount Code</li>
              <li>Use either In Store or Online</li>
            </ol>
      <a href="#" class="btn btn-primary">Redeem Discount Code</a>
    </div>
  </div>
</div>
